@model CategoryCreateDto


@{
  
}

@if(ViewBag.Succeded != null)
{
  if ((bool)ViewBag?.Succeded)
  {
      <div class="alert alert-success">@ViewBag.Message</div>
  }
  else if ((bool)!ViewBag?.Succeded)
  {
      <div class="alert alert-danger">@ViewBag.Message</div>
  }
}
@*

<tab>
  <tab1>
    // partial
  </tab1>
  <tab2>
    partial
  </tab2>
</tab>
*@

<form asp-controller="Category" asp-action="Create" method="post" novalidate>
  <div class="mb-3 mt-3">
    <label asp-for="Name" class="form-label"></label>
    <input type="text" class="form-control" asp-for="Name">
    <span class="text-danger" asp-validation-for="Name"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span class="text-danger" asp-validation-for="Description"></span>
  </div>
  
  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

@section Scripts {
  @*jquery validation client-side validation *@
  <partial name="_ValidationScriptsPartial" />
}