@{
  ViewData["Title"] = "Home Page";
}

@{
  //string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
  //string queryString = ViewContext.HttpContext.Request.Query["id"].ToString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Admin Home </a>.</p>

</div>