
@model LoginDto

<form method="post" asp-action="Login" asp-controller="Account">
  <input class="form-control" asp-for="Email" />
  <br />
  <input class="form-control" type="password" asp-for="Password" />
  <br />
  <input class="btn btn-success" type="submit" value="Oturum Aç" />
</form>